@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #ffffff;
    overflow-x: hidden;
  
}

.container{ /*  CABEÇALHO  */
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8ec004;
}

h1{
    color: #ffffff;
    font-family: poppins;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}

p{
    color: #ffffff;
    font-family: poppins;
    text-align: center;
    margin-top: 3px;
    font-size: 1rem;
}



.container-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}
.container-nav {
   overflow-y: hidden;
}

.container-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  flex-wrap: nowrap; /* impede quebra de linha */
}

.container-nav ul li {
  flex: 1;
  border: #98CD00 2px solid;
  background-color: rgb(248, 253, 253);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  min-width: 150px; /* garante largura mínima visível mesmo em scroll */
}

.container-nav ul li:hover {
  background-color: #B6F500;
  transform: scale(1.05);
}

.container-nav ul li a {
  text-decoration: none;
  color: #A4DD00;
  font-family: 'Poppins', sans-serif;
  padding: 12px 0;
  display: block;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.container-nav ul li a:hover {
  color: #ffffff;
}

/* Esconde a rolagem horizontal no desktop */
@media (min-width: 768px) {
  .container-nav {
    overflow-x: hidden;
  }
}

/* Mostra a rolagem horizontal no celular */
@media (max-width: 820px) {
  .container-nav {
    overflow-x: auto;
  }
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

label {
    color:  #98CD00;
    font-family: poppins;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    padding-bottom: 5px;
    padding-top: 8px;
    font-weight: bold;
}

#name{
    color:  #98CD00;
    font-family: poppins;
}

.container-form{
    height: 70vh; 
    font-family: 'Poppins', sans-serif;
    width: 50%;

    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    display: flex;
    border-radius: 10px;

}

input {
  width: 100%;
  padding: 12px 16px;
  font-size:  16px;
  border: 2px solid #98CD00;
  border-radius: 8px;
  background-color: #ffffff;
  color: #729b02; /* COR DO TEXTO */
  outline: none; /* REMOVE O CONTORNO PADRÃO */
  box-shadow: 0 0 5px #98CD00;
  font-family: poppins;
  transition: border-color 0.3s, box-shadow 0.3s;
  
}

input:focus {
  border-color: #98CD00;
  box-shadow: 0 0 5px rgba(251, 255, 0, 0.5);
}

.btn-enviar{
    margin-top: 2rem;
  background-color: #98CD00;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;

}

.btn-enviar:hover {
  background-color: #B6F500;
  transform: scale(1.03);
}



/*BARRA DE CARREGAMENTO (LOADER)*/

#loader {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  color: #98CD00;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.8s ease;
}

#loader.hide {
  opacity: 0;
  pointer-events: none;
}

/* Barra de progresso */
.progress-bar {
  width: 80%;
  height: 15px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: #98CD00;
  border-radius: 10px 0 0 10px;
  transition: width 0.3s ease;
}


/* Responsivo para mobile */
@media (max-width: 768px) {
  .progress-bar {
    height: 4px;
  }
}